data/
history/
history*/
FLINNG/
temp/
ancillary_stuff/testing_LSH_results/
ancillary_stuff/*.csv
ancillary_stuff/label_efficacy_graphs/
ancillary_stuff/*.out
ancillary_stuff/cluster-1.59/
.vscode/
*.out
*.gch
